@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    font-family: 'Open Sans', sans-serif;
}

.startDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

body {
    background-color: #636e72;
}

.button {
    padding: 1em 2.5em;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #00b894;
    color: #2d3436;
    text-transform: uppercase;
}

.button:hover {
    background-color: #55efc4;
}

.lyrics {
    color: #666;
    text-align: left;
    font-size: .75em;
    line-height: 1.3;
    padding-top: 1em;
}

.lyrics-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dfe6e9;
    margin: 0 auto;
}

.friend-name {
    font-size: 2em;
    color: #636e72;
}

.hr {
    width: 50%;
    background-color: #00b894;
    border: none;
    height: 5px;
    margin: 10px 0 .5em;
}

.friends-div {
    margin: 1em;
}

